name: Arcanum Surgical Build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Dependencies
      run: sudo apt update && sudo apt install -y build-essential cmake pkg-config libboost-all-dev libssl-dev libzmq3-dev libunbound-dev libsodium-dev libunwind8-dev liblzma-dev libreadline6-dev libldns-dev libexpat1-dev doxygen graphviz libpgm-dev qttools5-dev-tools libhidapi-dev libusb-1.0-0-dev libprotobuf-dev protobuf-compiler libudev-dev

    - name: Modify Config Safely
      run: |
        # 1. Change Name to Arcanum
        sed -i 's/"monero"/"arcanum"/g' src/cryptonote_config.h
        
        # 2. Change Nonce (This creates the unique chain!)
        # We change 10000 to 7777.
        sed -i 's/GENESIS_NONCE = 10000/GENESIS_NONCE = 7777/g' src/cryptonote_config.h
        
        # 3. Change Ports (So we don't connect to Monero)
        sed -i 's/18080/19990/g' src/cryptonote_config.h
        sed -i 's/18081/19991/g' src/cryptonote_config.h

    - name: Compile
      run: make -j2

    - name: Upload Binaries
      uses: actions/upload-artifact@v4
      with:
        name: arcanum-linux-x64
        path: build/**/bin/*
