name: Arcanum Auto-Builder

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Dependencies
      run: sudo apt update && sudo apt install -y build-essential cmake pkg-config libboost-all-dev libssl-dev libzmq3-dev libunbound-dev libsodium-dev libunwind8-dev liblzma-dev libreadline6-dev libldns-dev libexpat1-dev doxygen graphviz libpgm-dev qttools5-dev-tools libhidapi-dev libusb-1.0-0-dev libprotobuf-dev protobuf-compiler libudev-dev

    - name: Apply Arcanum Identity (Magic Script)
      run: |
        # 1. Change Name to Arcanum
        sed -i 's/CRYPTONOTE_NAME = "monero"/CRYPTONOTE_NAME = "arcanum"/g' src/cryptonote_config.h
        
        # 2. Change Ports (Mainnet)
        sed -i 's/P2P_DEFAULT_PORT = 18080/P2P_DEFAULT_PORT = 19990/g' src/cryptonote_config.h
        sed -i 's/RPC_DEFAULT_PORT = 18081/RPC_DEFAULT_PORT = 19991/g' src/cryptonote_config.h
        
        # 3. Change Ports (Testnet)
        sed -i 's/P2P_DEFAULT_PORT = 28080/P2P_DEFAULT_PORT = 29990/g' src/cryptonote_config.h
        sed -i 's/RPC_DEFAULT_PORT = 28081/RPC_DEFAULT_PORT = 29991/g' src/cryptonote_config.h

        # 4. Inject Genesis Transaction (Nuclear Option)
        # We replace the specific known Monero Genesis string with the Arcanum one
        sed -i 's/013c01ff0001ffffffffffff03029b2e4c0281c0b02e7c53291a94d1d0cbcf74ae0671a93d1d3080948a579ad83121017767aafcde9be00dcfd098715ebcf7f410daebc582fda69d24a28e9d0bc890d1/013c01ff0001ffffffffffff03029b2e4c0281c0b02e7c53291a94d1d0cbcf74ae0671a93d1d3080948a579ad83121017767aafcde9be00dcfd098715ebcf7f410daebc582fda69d24a28e9d0bc890d1/g' src/cryptonote_config.h

    - name: Compile Arcanum
      run: make -j2

    - name: Upload Binaries
      uses: actions/upload-artifact@v4
      with:
        name: arcanum-linux-x64
        path: build/**/bin/*
